<!-- <div
  class="toolbar"
  role="banner"
>
  <span class="p-4">Payments</span>
  <div class="spacer"></div>
  <a
    aria-label="Angular on twitter"
    target="_blank"
    rel="noopener"
    href="https://twitter.com/angular"
    title="Twitter"
  >
  </a>
</div> -->

<ul class="nav justify-content-end toolbar">
  <li class="nav-item">
    <a class="nav-link active" href="/register">Reactive Forms</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/dashboard">Table with Search</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/inputs">Generic input component</a>
  </li>
</ul>
<router-outlet></router-outlet>